@model IEnumerable<Journal.Models.Note>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Artikeln";
}
<div class="container mt-4">
<h1>Artikeltheke</h1>

<p>
    <a class = "btn btn-primary" asp-action="Create">Neuen Artikel erstellen</a>
</p>
<table class="table table-striped table-bordered text-center align-middle">
    <thead>
        <tr>
            <th>
                <span>Title</span>
            </th>
            <th>
                <span>Beschreibung</span>
            </th>
            <th>
                <span>Zustand</span>
            </th>
            <th>
                <span>Veroffentlicht</span>
            </th>
            <th>
                <span>Typ</span>
            </th>
            <th>
                <span>Erscheinungsdatum</span>
            </th>
            <th>
                <span>Aktionen</span>
            </th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduce)
            </td>
            <td>
                @if(item.Content.Length > 1000)
                {
                    <span>Halbfertig oder fertig</span>
                }
                else
                {
                    <span>Entwurf</span>
                }
            </td>
            <td>
                @if(item.IsPublished)
                {
                    <span class="badge bg-success">Ja</span>
                }
                else
                {
                    <span class="badge bg-danger">Nein</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <div class="btn-group-vertical btn-group-sm">
                    <a class = "btn btn-primary" asp-action="Details" asp-route-id="@item.Id" target="_blank">Voransicht</a>
                    <a class = "btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                    <a class = "btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Entfernen</a>
                </div>
            </td>
            
        </tr>
}
    </tbody>
</table>
</div>